header {
  position: relative;
  width: 100%;
  font-size: min(1rem, 1.7vw);
}

.slide {
  position: relative;
  width: 100%;
}

.slide img {
  width: 100vw;
}

.slide .layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff57;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slide .container {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 70%;
  height: 70%;
  justify-content: center;
  gap: 1rem;
}

.slide .container h2 {
  font-size: 3.2em;
  line-height: min(1.8em, 10vw);
}

.slide .container p {
  font-size: 1.3em;
  line-height: 1.8em;
  font-weight: 600;
}

.slide button {
  width: fit-content;
  font-family: "Poppins", "sans-serif";
  background-color: var(--primary-400);
  color: white;
  font-size: 1.2em;
  font-weight: 200;

  border-style: none;
  border-radius: 10px;
  padding: 0.7em 2.1em;
}

.slide button:hover {
   background-color: var(--primary-350);
   cursor: pointer;
}

header .slick-slider {
  overflow: hidden !important;
  position: relative !important;
}

header .slick-dots {
  bottom: 5%;
}

header .slick-dots li button:before {
  color: var(--primary-700) !important;
  font-size: 1rem;
}

header .slick-dots li {
    margin-right: 2rem;
}

header .slider {
  width: 100%;
  height: 100%;
}

header .slider-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none !important;
}

header .slider-arrow button {
  background-color: transparent;
  width: max(2rem, 5vw);
  height: max(2rem, 5vw);
  border-radius: 50%;
  border-style: none;
  pointer-events: all;
}

header .slider-arrow button img {
  width: max(2rem, 5vw);
  height: max(2rem, 5vw);
}

header .slider-arrow button:hover {
  background-color: rgba(0, 0, 0, 0.082);
  cursor: pointer;
}

.arrow-btn {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  opacity: 50%;

}

header .next {
  right: 2rem;
}

header .prev {
  left: 2rem;
}

@media (max-width: 900px) {
  header .slide {
    object-fit: fill;
    height: 100vw;
  }

  header .slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  header .slider-arrow button {
    display: none;
  }

  header {
    font-size: min(1rem, 2vw);
  }
}

@media (max-width: 600px) {
  header .slick-dots li button:before {
    display: none;
  }

  header .slide button {
    border-radius: 5px;
  }
}

@media (max-width: 400px) {
  header {
    font-size: min(1rem, 2.5vw);
  }

  header .slide .container {
    width: 90%;
  }
}