.contact-us .shape-1 {
    position: absolute;
    clip-path: ellipse(25% 40% at 50% 50%);
    top: -8.5vw;
    right: -10.5vw;
    width: 22vw;
    height: 32vw;
    background-color: var(--primary-200);
    z-index: -1;
}

.contact-us .shape-2 {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    bottom: 0;
    right: -18vw;
    width: 20vw;
    height: 20vw;
    background-color: var(--primary-200);
    z-index: -1;
}

.contact-us .shape-3 {
    border-radius: 25% 73% 25% 45% / 50% 48% 52% 38%;
    transform: rotate(-225deg);
    position: absolute;
    bottom: 2vw;
    left: -20vw;
    width: 25vw;
    height: 22vw;
    background-color: var(--primary-200);
    z-index: -1;
}

.contact-us .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us form {
    width: 75%;
    background-color: var(--primary-200);
    border-radius: 20px;
    padding: 3.7rem 7rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-us label {
    font-weight: 600;
    font-size: 1.2rem;
}

.contact-us input[type='email'], .contact-us textarea {
    background-color: white;
    border-radius: 20px;
    border-style: none;
    padding: 2rem;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Poppins', 'sans-serif';
}

.contact-us input[type='email']:focus, .contact-us textarea:focus {
    outline: 2px solid var(--primary-700);
}

.contact-us textarea {
    height: 18rem;
    resize: none;
}

.contact-us input[type='submit'] {
    width: fit-content;
    background-color: var(--primary-300);
    border-style: none;
    padding: 1rem 5.5rem;
    font-family: 'Poppins', 'sans-serif';
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 10px;
}

.contact-us input[type='submit']:hover {
   background-color: var(--primary-250);
   cursor: pointer;
}

.contact-us .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-us button {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    border-style: none;
    padding: 0.8rem 2rem;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-us button:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.contact-us button img {
    width: 1.4rem;
    height: 1.4rem;
}

.contact-us button:last-child {
    margin-right: 3rem;
}

@media (max-width: 1100px) {
    .contact-us form {
        width: 100%;
        padding: 3rem;
    }

    .contact-us button:last-child {
        margin-right: 0;
    }
}

@media (max-width: 570px) {
    .contact-us .row {
        justify-content: start;
        gap: 1.5rem;
    }

    .contact-us button span {
        display: none;
    }

    .contact-us input[type='submit'] {
        width: 100%;
    }
}