html {
  font-size: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 100%;
  max-width: 2500px;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  html {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 0.6rem;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 115%;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 130%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 145%;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 160%;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 175%;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 190%;
  }
}

@media (min-width: 2600px) {
  html {
    font-size: 205%;
  }
}

body {
  background-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout {
  width: 100%;
}

section {
  padding: 3rem 4rem;
  position: relative;
}

section h2 {
  border-left-style: solid;
  border-left-color: var(--primary-400);
  border-left-width: 5px;
  padding-left: 1.2rem;
  margin-bottom: 4rem;
  font-size: 1.8rem;
}

